<div class="mt-4">
  <form method="POST" action="/blog-detail/store">
    <div class="mb-3">
      <label for="staticEmail2">Name</label>
      <input name="name" type="text" id="staticEmail2" value="" />
    </div>
    <div class="mb-3">
      <label for="staticEmail2">Description</label>
      <input name="description" type="text" id="staticEmail2" value="" />
    </div>
    <div class="mb-3">
      <label for="staticEmail2">Image</label>
      <input name="image" type="text" id="staticEmail2" value="" />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary mb-3">Create</button>
    </div>
  </form>
</div>