@use "variables" as v;

* {
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.border {
  border: 1px solid black;
  border-radius: 5px;
}

.p-10 {
  padding: 10px;
}
